// -----------------------------------------------
// -------------  Pre Declarations  --------------
// -----------------------------------------------

//font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$colors: (
    primary: #FF9933,
    primary1: #FFA041,
    primary2: #FFB56C,
    primary3: #FF9F3F,
    secondary: #FF8151,
    secondary1: #FF8A5D,
    secondary2: #FFA481,
    secondary3: #FF885B,
    tertiary: #03C8BB,
    tertiary1: #14CCC0,
    tertiary2: #4BD8CE,
    tertiary3: #0DCABE,

    light: #D8D8D8,
    b: black,
    w: #FFF,
    text-dark: #525252,
//    error: red
);

/* @mixin gradient($color-set){
    background-image: linear-gradient($color-set)
} */

$fonts: (
    light: 300,
    regular: 400,
);

$small: 650px;
$medium: 800px;
$large: 900px;

@mixin font($weight) {
    font-weight: map-get($map: $fonts, $key: $weight);
} // done

@mixin shadow {
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow:    1px 3px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow:         1px 3px 3px 0px rgba(0, 0, 0, 0.16);
} // done

@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
} // done

@mixin color($color) {
        color: map-get($map: $colors, $key: $color);
} // done

@mixin bgColor($color) {
    background-color: map-get($map: $colors, $key: $color);
} // done

@mixin gradient-primary {
    background: rgb(255,160,65);
    background: linear-gradient(32deg, rgba(255,160,65,1) 0%, rgba(255,181,108,1) 35%, rgba(255,159,63,1) 67%, rgba(255,153,51,1) 100%);
} // besseres mixin draus basteln...

@mixin gradient-secondary {
    background: rgb(255,138,93);
background: linear-gradient(32deg, rgba(255,138,93,1) 0%, rgba(255,164,129,1) 35%, rgba(255,136,91,1) 67%, rgba(255,129,81,1) 100%);
} // besseres mixin draus basteln...

@mixin gradient-tertiary {
    background: rgb(20,204,192);
    background: linear-gradient(32deg, rgba(20,204,192,1) 0%, rgba(75,216,206,1) 35%, rgba(13,202,190,1) 67%, rgba(3,200,187,1) 100%);
} // besseres mixin draus basteln...


/* .panel{
    border-radius: 8em;

    &--primary{
        @include bgColor(primary);
        @media screen and (min-width: $small) {
            @include bgColor(dark);
        }
    }

    &--secondary{
        @include color(dark);
    }
} */

body{
    font-size: 62.5%;
    margin: 0;
    font-family: Roboto, sans-serif;
    //letter-spacing: .6px;
    -webkit-font-smoothing: antialiased;
}

.reset {
    @include color(w);
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    @extend .reset;
}

.container{
    margin-top: 2em;
    //margin: 0 48.7%;
    width: 48.7%;
    margin-left: auto;
    margin-right: auto;
}

.panel{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: .65em;
    @include shadow;
    //height: 59.25em;
    margin: 7.5em auto;
    padding-left: 29.57%;
    padding-right: 29.57%;
    height: 20%;
    width: 48%;
    /* -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow:    1px 3px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow:         1px 3px 3px 0px rgba(0, 0, 0, 0.16); */

    &--primary {
        @include bgColor(primary);
            @include bgColor(primary);
            @include gradient-primary();
    }

    &--secondary {
        @include bgColor(secondary);
        @include gradient-secondary();
    }

    &--tertiary {
        @include bgColor(tertiary);
        @include gradient-tertiary();
    }

    &__content {
        display: flex;
        justify-content: space-evenly;
        //background-color: black;
    }
    &__text {
        &--info {
            text-align: right;
        }
    }

    &__btn {
        

        &--link {
            @include color(text-dark);
            border: none;
            width: 60%;
            text-decoration: none;
            display: block;
            //@extend .reset;
            @include bgColor(w);
            font-weight: (light);
            font-size: 2em;
            border-radius: .25em;
            padding: .15em 0em;
            padding-left: .9em;
            padding-right: .6em;
            margin: 3em auto;
            margin-top: 8em;
            justify-content: left;

        }

        &--arrow {
            float: right;
            //display:inline-block;
        }

        &--text {
            @include color(text-dark);
            text-align: left;
        }
    }

    &__heading {
        //white-space: nowrap;
        font-size: 10em;
    }

    &__image {
        
        &--overlap {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.tag {
    @extend .reset;
    border: .125em solid white;
    border-radius: .175em;
    display: inline;
    &__dot {
        height: .65em;
        width: .65em;
        @include bgColor(w);
        border-radius: 50%;
        display: inline-block;
        margin: .1em .5em;
        margin-bottom: .05em;
        margin-right: .1em;
     }

     &__text {
        padding: .2em;
        margin-right: .5em;
        font-size: 1.4em;
        @include font(light);
     }
}

.hero {

    text-align: center;

    &__heading, &__subheading {
        @include color(text-dark);
        //@include fonts(light);
        font-family: Roboto, sans-serif;
        @include font(light);
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-font-smoothing: antialiased;
    }

    &__heading {
        font-size: 12em;
        letter-spacing: .0175em;
        margin-bottom: 0em;
        //letter-spacing: 10em;
    }

    &__subheading {
        font-size: 3em;
        letter-spacing: 0em;
        white-space: nowrap;
    }

    &__button {
        text-decoration: none;
        display: block;
        @extend .reset;
        @include bgColor(primary);
        font-weight: 600;
        border-radius: .4em;
        padding: .5em 3em;
        margin: 3em auto;
        border: none;
        justify-content: center;
    }

    &__storelinks {
        display: inline-block;
        margin: auto;
        margin-bottom: 2em;
        /* @media screen and (min-width: $medium) {
            flex-direction: row;
        } */
    }

    &__storeimage {
        //display: inline-block;
        display: inline-block;
        margin-top: 1em;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__animation {
        margin: 2.25em auto;
        display: block;
        border: none;
        justify-content: center;
        text-align: center;
        &--link {
            text-decoration: none;
        }
    }
}